/* ************************************************************************************** */
/*                                                                                        */																					  
/* Project: Formulaire                                  / $$      /$$ /$$$$$$$$ /$$$$$$   */
/*                  			                        | $$  /$ | $$| $$_____//$$__  $$  */
/* style.css                                     	    | $$ /$$$| $$| $$     |__/  \ $$  */
/*                                                  	| $$/$$ $$ $$| $$$$$     /$$$$$/  */
/* By: vcastell <valeriocastellipro@gmail.com>	        | $$$$_  $$$$| $$__/    |___  $$  */
/*                                              		| $$$/ \  $$$| $$      /$$  \ $$  */
/* Created: 2022/01/31 09:30:30 vcastell     	        | $$/   \  $$| $$     |  $$$$$$/  */
/* Updated: 2022/02/01 09:30:28 vcastell                |__/     \__/|__/      \______/   */
/*                                                                    				      */
/******************************************************************************************/

body{
	background-color: rgba(154, 156, 151, 0.2)
}

section{
	box-shadow: 30px 30px 32px;
	border: 2px solid rgb(70, 55, 55);
}

.red{
	color: #d00000 !important;
}

.green{
	color: #05833c;
}

.pass{
	background-color: white;
}

.errors ul li{
	margin: 5px;
}